body {
  margin: 0;
  font-family: Arial;
}

.header {
  background: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.body {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 15px;
  background: #f4f4f4;
}

.main {
  flex: 1;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 15px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background: white;
}

.footer {
  text-align: center;
  padding: 15px;
  background: #eee;
}
